.Select-menu-outer {
  background-color: #3a3a3f !important;
  color: #f1f1f1 !important;
}

.Select-value-label {
  color: #f1f1f1 !important;
}

input[type="checkbox"] {
  accent-color: #d9d9d9;
  cursor: pointer;
}

body {
  background-color: #3a3a3f; 
  margin: 0;
  padding: 0;
}


button:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
}
